body{
    background: linear-gradient(to bottom, white, white, rgb(84, 154, 219), rgb(41, 109, 235));
}
.imagenes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}
.imagen1{
    width: 230px;
    border-radius: 200px;
}
.imagen2{
    width: 150px;
    height:83px;
    margin-top: 22px;
    margin-right:40px;
    border-radius: 80px;
}
.medallas{
    width: 350px;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jaja{
    margin: 20px;
    font-size: 25px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(79, 173, 236, 0.658);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media(max-width: 344px){
    .medallas{
        width: 330px;
    }
}

